<td>
  <%= button_to 'add', { 
                        :controller => "weapons",
                        :action => "add_weapon"
                      }, 
                      :model => @weapon, :method=>:post  %> 
</td>