/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

  #left_menu {
    width: 17%;
  }
  
  html {
    height: 100%;
  }
  
body {
  padding-top: 100px;
  min-height: 100%;
  background: linear-gradient(0.5turn,  #ffffff, rgb(221, 220, 220));
  bottom: 0px;
  background-attachment: fixed;
  }

.navbar {
  width: 100%;
  background-color: white !important;
  position: -webkit-sticky;
  position: static;
  position: fixed;
  top: 0px;
  left: 0px;
  }
  
.navbar-brand {
  font-size: 3rem;
  }

  #left_menu{
    position: -webkit-sticky;
    top: 120px;
  }

  
.apple_pagination {
  background-opacity: 0;
  border: none;
  text-align: center;
  padding: 1em;
  cursor: default; 
}
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: white; 
}
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: rgb(202, 205, 206);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: grey 1px 1px 1px;
}
  .apple_pagination a {
    text-decoration: none;
    color: black;
}
  .apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; 
}

.room_btn{
  height: 50px;
  width: 130px;
  margin: 10px;
}
