<div class="con">
  
  <% if Chat.first.messages.size > 2 %> 
    <% if Chat.first.messages.size >= 6%>
      <%= render partial: 'messages/message', collection: Chat.first.messages[-3..-1]%>
    <% end %>
  <% end %>  

</div>
